@import '../../../assets/styles/grid.css';

.outer {
    position: relative;
    display: block;
    height: 100%;
    color: white;
    font-size: 22px;
    padding: 16px;
}

.weather-image {
    width: 148px;
    margin-bottom: 16px;
}

.radio-box {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}