<div class="outer">

    <img class="weather-image" [src]="weatherIconUrl">

    <div class="grid">

        <div class="grid-row-0">
            <div class="grid-col-2">
                Temperatur:
            </div>
            <div class="grid-col-2">
                {{temperature | number:"1.1-1"}} °C
            </div>
        </div>

        <div class="grid-row-0">
            <div class="grid-col-2">
                Niederschlag:
            </div>
            <div class="grid-col-2">
                {{precitipation | number:"1.0-0"}} mm
            </div>
        </div>

        <div class="grid-row-0">
            <div class="grid-col-2">
                Luftfeuchtigkeit:
            </div>
            <div class="grid-col-2">
                {{humidity | number:"1.0-0"}} %
            </div>
        </div>

        <div class="grid-row-0">
            <div class="grid-col-2">
                Luftdruck:
            </div>
            <div class="grid-col-2">
                {{pressure | number:"1.0-0"}} hPa
            </div>
        </div>

        <div class="grid-row-0">
            <div class="grid-col-2">
                Wind:
            </div>
            <div class="grid-col-2">
                {{windSpeed | number:"1.1-1"}} KMH
                <app-weather-wind-direction [direction]="windDirection"></app-weather-wind-direction>
            </div>
        </div>

        <app-dot-indicator class="radio-box"
            [count]="locations.length" 
            [current]="currLocIdx" 
            (change)="onLocationSelection($event)">
        </app-dot-indicator>
    </div>
</div>