:host {
    position: relative;
    display: block;
    height: 100%;
}

#plot {
    max-height: 50%;
}

.decrease {
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
}

.increase {
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
}