<button mat-mini-fab color="white" class="toolbar-btn" *ngIf="showBackButton" (click)="onGoBack()">
    <mat-icon>arrow_back</mat-icon>
</button>

<div class="toolbar-hdr">{{titleSvc.title}}</div>

<div>
    <button mat-icon-button class="toolbar-btn" *ngFor="let action of actions" (click)="action.action()">
        <mat-icon>{{action.icon}}</mat-icon>
    </button>
</div>


<button mat-icon-button color="white" class="toolbar-btn" *ngIf="showBackButton" routerLink="/">
    <mat-icon>home</mat-icon>
</button>

<button mat-icon-button color="white" class="toolbar-btn" [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
</button>

<mat-menu #settingsMenu="matMenu">
    <button mat-menu-item routerLink="/settings/locations">Orte bearbeiten</button>
    <button mat-menu-item routerLink="/settings/openweather">OpenWeather-Einstellungen</button>
</mat-menu>