:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: transparent;
    padding: 0.5rem;
}

.toolbar-btn {
    flex: 0 0 auto;
    /* margin-right: 16px; */
}

.toolbar-hdr {
    font-size: 36px;
    flex: 1 0 auto;
    padding-left: 16px;
}