<div class="outer">

    <app-search-bar (location)="onSearch($event)"></app-search-bar>
    <div class="inner">


        <mat-selection-list multiple="false" class="location-list" (selectionChange)="onLocationSelection($event)">
            <mat-list-option *ngFor="let location of locations" [value]="location">
                <span matLine>{{location.name}}</span>
                <mat-icon matListIcon *ngIf="location.isHome" class="material-symbols-outlined">
                    home
                </mat-icon>
                <mat-icon matListIcon *ngIf="!location.isHome">location_on</mat-icon>
            </mat-list-option>
        </mat-selection-list>

        <div class="map" id="map"></div>
    </div>
    <div class="button-row">
        <button mat-flat-button color="primary" (click)="saveLocations()">Speichern</button>
    </div>
</div>