.grid {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .grid-row-0 {
    -webkit-flex: 0 auto;
    -moz-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  
  }
  
  .grid-row-1 {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .grid-row-2 {
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  
  [class*='grid-row-']:before, [class*='grid-row-']:after {
    content: ' ';
    display: table;
    clear: both;
  }
  
  [class*='grid-col-'] {
    float: left;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    margin-bottom: 1rem !important;
  }
  
  .grid-col-1 {
    width: calc(25% - 1rem) !important;
  }
  
  .grid-col-2 {
    width: calc(50% - 1rem) !important;
  }
  
  .grid-col-3 {
    width: calc(75% - 1rem) !important;
  }
  
  .grid-col-4 {
    width: calc(100% - 1rem) !important;
  }
  
  @media only screen and (max-width: 799px) {
    .grid-col-1 {
        width: calc(50% - 1rem) !important;
    }
    .grid-col-2 {
        width: calc(100% - 1rem) !important;
    }
    .grid-col-3 {
        width: calc(100% - 1rem) !important;
    }
    .grid-col-4 {
        width: calc(100% - 1rem) !important;
    }
  }
  
  @media only screen and (max-width: 599px) {
    .grid-col-1,.grid-col-2,.grid-col-3,.grid-col-4 {
        width: calc(100% - 1rem) !important;
    }
  }
  